// When Error Occurs in 'Add Option'
.add-option-error {
    color: orange;
    font-style: italic;
    margin-top: $m-size;
    padding: 0 $m-size;
    text-align: center;
    font-family: Verdana;
}

.add-option-form {
    display: flex;
    padding: $m-size;
}

.add-option-form__input {
    background: $dark-blue;
    flex-grow: 1;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    padding: $s-size;
    margin-right: $s-size;
    color: blanchedalmond;
}